/* a {
    color: inherit;
    text-decoration: none;
} */

iframe {
    border: none;
}

span .search-match {
    background-color: yellow;
}

.main {
    width: 50%;
    margin: 50px auto;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
#search-form .form-control {
    padding-left: 2.375rem;
}

#search-form i {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}